<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://doc-0g-9g-docs.googleusercontent.com/docs/securesc/rac3egb2oh01mc3b654v8f3hsr7slgrc/df2pf8nt8rlnj20jr2r0obp825fmefpq/1598374800000/11093288717889083535/13613658271127690962Z/1Qch5hzhoGvpz63nG3O4lUCmuPq_zg_EP?e=download&nonce=sk06tt0e3avbk&user=13613658271127690962Z&hash=iunv1olbnhn53mku62q22tinfe3b36t3</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>url</key>
					<string>https://github.com/yaashtech/build/raw/master/Prezitt/57x57.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>url</key>
					<string>https://github.com/yaashtech/build/raw/master/Prezitt/512x512.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.prezitt.zencode</string>
				<key>bundle-version</key>
				<string>1.0</string>
				<key>kind</key>
				<string>software</string>
				<key>platform-identifier</key>
				<string>com.apple.platform.iphoneos</string>
				<key>title</key>
				<string>Prezitt - iOS (Zencode)</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
